@import "../../../../assets/scss/general.scss";
.mashora{
    color: $green;
    font-size: 0.8rem;
    margin-top: 3%;
    margin-left: 2%;
}

.borrar{
    color: $red;
}

.distbtn{
    justify-content: center !important;
    margin-left: 30% !important;
    width: 40% !important;
}