
<div class="row">

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Nombre Sucursal</label>
        <input type="text" [(ngModel)]="Nombre" placeholder="Ingrese nombre de Sucursal">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Direccion</label>
        <input type="text" [(ngModel)]="Direccion" placeholder="Ingrese dreccion de sucursal">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Hora de Inicio de servicio</label>
        <input type="text" [(ngModel)]="Horini" placeholder="Ingrese hora de apertura de atencion">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Hora de Fin de servicio</label>
        <input type="text" [(ngModel)]="Horafin" placeholder="Ingrese nombre de cierre de atencion">
    </div>

    <div class="form-group col-12 col-md-6">
        <div class="btn btn-primary" (click)=" obtenerlatlon(gmap.getMap())">buscar</div>
        <div class="btn btn-primary" (click)=" CrearSucursal()">cargar</div>
    </div>

    <div>
        <p-gmap #gmap id="map" [options]="options" [overlays]="overlays" (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" [style]="{'width':'1000px','height':'150px'}"></p-gmap>
    </div>
    
</div>
