$green: #65d4ce;
$green-light: #edf7f7;
$green-dark: #00a99d;
$white: #ffffff;
$blue: #8FCEF9;
$blue-disponible: #007AD9;
$red: #FF1D25;


$gray-dark: #2a3837;
$gray-light: #667f7f;

$gray-form: #ced4da;

$gray: #a8adac;
$gray-hour: #DFE5ED;

$scoll: #d0e1f9;
$bg-icon: #c8cecd;


.btn-medisalud-primary{
    color: $white;
    background-color: $green;
    border-color: $green;  
    &:hover,
    &:not(:disabled):not(.disabled):active, 
    &:not(:disabled):not(.disabled).active, 
    &.show > .btn-primary.dropdown-toggle
    &:focus,
    &.focus{
        color: $white;
        background-color: $green-dark;
        border-color: $green-dark;
        box-shadow: none
    }
}
.btn-medisalud-light{
    color: $green-dark;
    background-color: $white;
    border-color: $green-dark;  
    &:hover,
    &:not(:disabled):not(.disabled):active, 
    &:not(:disabled):not(.disabled).active, 
    &.show > .btn-primary.dropdown-toggle
    &:focus,
    &.focus{
        color: $white;
        background-color: $green-dark;  
        border-color: $green-dark;   
        box-shadow: none
    }
}
