$green: #2D3E50;
$green-light: #ECF3FD;
$green-dark: #2D3E50;
$white: #ffffff;
$blue: #8FCEF9;
$blue-disponible: #007AD9;
$red: #FF1D25;
$boxShadow: '0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)';


$gray-dark: #2a3837;
$gray-light: #667f7f;
$yellow: #444444;

$gray-form: #ced4da;

$gray: #a8adac;
$gray-hour: #DFE5ED;

$scoll: #d0e1f9;
$bg-icon: #c8cecd;

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #CEB268;;
    }
}

.back-screen{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(117, 117, 117, 0.618);
    z-index: 1000;
}
.modal-body{
    width: 100%;
    display: flex;
    justify-content: center;
}
body .ui-card {
   width: 50%;
   display: flex;
   justify-content: center;
}
.ui-card-content{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-size: 2.5rem;
color: #88C6C5;
}

.btn-medisalud-primary{
    color: $white;
    background-color: $green;
    border-color: $green;  
    &:hover,
    &:not(:disabled):not(.disabled):active, 
    &:not(:disabled):not(.disabled).active, 
    &.show > .btn-primary.dropdown-toggle
    &:focus,
    &.focus{
        color: $white;
        background-color: $green-dark;
        border-color: $green-dark;
        box-shadow: none
    }
}
.btn-medisalud-light{
    color: $green-dark;
    background-color: $white;
    border-color: $green-dark;  
    &:hover,
    &:not(:disabled):not(.disabled):active, 
    &:not(:disabled):not(.disabled).active, 
    &.show > .btn-primary.dropdown-toggle
    &:focus,
    &.focus{
        color: $white;
        background-color: $green-dark;  
        border-color: $green-dark;   
        box-shadow: none
    }
}
