$green: #88C6C5;
$green-light: #eefdfd85;
$green-dark: #6B9C9A;
$white: #ffffff;
$blue: #8FCEF9;
$blue-disponible: #007AD9;
$red: #FF1D25;
$boxShadow: '0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)';


$gray-dark: #2a3837;
$gray-light: #667f7f;
$yellow: #CEB268;

$gray-form: #ced4da;

$gray: #a8adac;
$gray-hour: #DFE5ED;

$scoll: #d0e1f9;
$bg-icon: #c8cecd;


.btn-medisalud-primary{
    color: $white;
    background-color: $green;
    border-color: $green;  
    &:hover,
    &:not(:disabled):not(.disabled):active, 
    &:not(:disabled):not(.disabled).active, 
    &.show > .btn-primary.dropdown-toggle
    &:focus,
    &.focus{
        color: $white;
        background-color: $green-dark;
        border-color: $green-dark;
        box-shadow: none
    }
}
.btn-medisalud-light{
    color: $green-dark;
    background-color: $white;
    border-color: $green-dark;  
    &:hover,
    &:not(:disabled):not(.disabled):active, 
    &:not(:disabled):not(.disabled).active, 
    &.show > .btn-primary.dropdown-toggle
    &:focus,
    &.focus{
        color: $white;
        background-color: $green-dark;  
        border-color: $green-dark;   
        box-shadow: none
    }
}
