<div class="row  container distbtn">
<button class="btn btn-medisalud-primary mt-2" routerLink="/Cliente-Agenda" >
    Agenda CLiente
</button>
<button class="btn btn-medisalud-primary mt-2" routerLink="/Especilidad" >
    Agregar especialidad
</button>
<button class="btn btn-medisalud-primary mt-2" routerLink="/CitaRotatoria" >
    Citas Rotatorias / Sobrecupo
</button>
<button class="btn btn-medisalud-primary mt-2" routerLink="/AdmCita" >
    Administrar citas
</button>
<button class="btn btn-medisalud-primary mt-2" routerLink="/Sucursal" >
    Agregar Sucursal
</button>
<button class="btn btn-medisalud-primary mt-2" routerLink="/Doctor" >
    Agregar Doctor
</button>
<button class="btn btn-medisalud-primary mt-2" routerLink="/HorarioDoctor" >
    Horarios Doctor
</button>
</div>
