
<div class="row">

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Nombre Doctor</label>
        <input type="text" [(ngModel)]="nombre" placeholder="Ingrese nombre del Doctor">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">RUT</label>
        <input type="text" [(ngModel)]="rut" placeholder="Ingrese RUT del doctor">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Telefono</label>
        <input type="text" [(ngModel)]="tel" placeholder="Ingrese Telefono">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Mail</label>
        <input type="text" [(ngModel)]="mail" placeholder="Ingrese Correo del Doctor">
    </div>

    <div class="form-group col-12 col-md-6">
        <label for="especialidades">Info Dctor</label>
        <input type="text" [(ngModel)]="inforDoc" placeholder="Ingrese descripcion reevante y cosiza del doctor">
    </div>

    <div class="form-group col-12 col-md-6">
        <div class="btn btn-primary" (click)=" AgregarDosctor()">cargar</div>
    </div>
</div>