<div class="container-agenda">
    <div class="row  container">
        <div class="col-12">
            <img src="./assets/images/RMS_Logo-fondo claros.svg"  height="50" alt="" loading="lazy">
        </div>
        
        <div class="datos-paciente">
            <div class="col-12 estimado">
                <span>Estimado Pedro Alberto Perez Toloso</span>
                <p>Su cita ha sido programada.</p>
            </div>
            <div class=" form-text col-12">
                <label>
                    PACIENTE
                </label>
                <span>
                    Pedro Pablo Perez Gonzalez
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    RUT
                </label>
                <span>
                    12.345.678-9
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    SEDE
                </label>
                <span>
                    Rigoberto Jara 365
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    Área de 
                </label>
                <span>
                    Psiquiatría
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    Especialidad de 
                </label>
                <span>
                    Timidez       
                </span>
            </div>
            <div class="col-12 my-3">
                <span>
                    Por favor presentarse el día 27 de Mayo del 2020 a las 13:30h
                </span>
            </div>
            <div class="col-12 px-4">
                <span>
                    Nota del médico
                </span>
                <label>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortiummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
                </label>
            </div>
            
        </div>
            
        <div class="col-12 datos-contacto">
        <div class="row">

            <span class="col-12">
                Teléfono :  +562 28097078
            </span>
            <span class="col-12">
                Whatsapp:  +569 49004442
            </span>
            <span class="col-12">
                Dirección : Rigoberto Jara 0365, Quilicura
            </span>
        </div>
    </div>
    </div>
    <button class="btn-siguiente ml-auto" >
        <i class="pi pi-plus"></i>
    </button>
</div>