<div class="container-agenda">
    <div class="row  container" id="ficha">
        <div class="col-12">
            <img src="./assets/images/logoCorreo.png" class="img-tama">
        </div>

        <div class="datos-paciente">
            <div class="col-12 estimado">
                <span>Estimado {{cliente.nombre}}</span>
                <p>Su cita ha sido programada.</p>
            </div>
            <div class=" form-text col-12">
                <label>
                    PACIENTE
                </label>
                <span>
                    {{cliente.nombre}}
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    Doctor
                </label>
                <span>
                    {{Cita.Doctor}}
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    SEDE
                </label>
                <span>
                    {{Cita.Sucursal}}
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    Ubicada en
                </label>
                <span>
                    {{Cita.Direccion}}
                </span>
            </div>
            <div class=" form-text col-12">
                <label>
                    Área de
                </label>
                <span>
                    {{Cita.Especialidad}}
                </span>
            </div>
            <div class="col-12 my-3">
                <span>
                    Por favor presentarse 10 min antes de la hora agendada el día {{Cita.fecha}} a las {{Cita.hora}}h
                </span>
            </div>
            <div class="col-12 px-4">
                <span>
                    Nota al médico
                </span>
                <label>
                    {{Cita.descripcion}}
                </label>
            </div>

        </div>

        <div class="col-12 datos-contacto">
            <div class="row">

                <span class="col-12">
                    Teléfono : +562 28097078
                </span>
                <span class="col-12">
                    Whatsapp: +569 49004442
                </span>
                <span class="col-12">
                    Dirección : Rigoberto Jara 0365, Quilicura
                </span>
            </div>
        </div>
    </div>
    <button class="btn-siguiente ml-auto" routerLink="">
        <i class="pi pi-plus"></i>
    </button>
</div>