@import "../../../../assets/scss/general.scss";
.container-agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-light;
    height: calc(100% - 76px);
    width: 100%;
    .container{
        background-color: $white;
        padding: 20px;
        border: 1px solid $gray-dark;
        -webkit-box-shadow: 2px 2px 5px 0px  $gray-dark;
        -moz-box-shadow: 2px 2px 5px 0px  $gray-dark;
        box-shadow: 2px 2px 5px 0px  $gray-dark;
    }
}