<div class="container-fluid agenda">
    <div class="row ">
        <div class="col-12 col-md-3 box-data">
            <div class="resumen">
                <div class="title-resumen">
                    <h4>RESUMEN</h4>
                    <p>
                        Edite los datos a conveniencia
                    </p>
                </div>
                <div class="datos-paciente">
                    <div class="form-group form-text">
                        <label>
                            PACIENTE
                        </label>
                        <span>
                            Pedro Pablo Perez Gonzalez
                        </span>
                    </div>
                    <div class="form-group form-text">
                        <label>
                            RUT
                        </label>
                        <span>
                            12.345.678-9
                        </span>
                    </div>
                    <div class="form-group form-text">
                        <label>
                            SEDE
                        </label>
                        <span>
                            Rigoberto Jara 365
                        </span>
                    </div>
                    <div class="form-group div-outline mt-2">
                        <span>Psicología</span>
                        <i class="pi pi-times "></i>
                    </div>
                    <div class="form-group div-outline">
                        <span>Sede Principal Avenida.</span>
                        <i class="pi pi-times "></i>
                    </div>
                    <div class="form-group div-outline">
                        <span>Doctora Alejandra L. Flores M.</span>
                        <i class="pi pi-times "></i>
                    </div>
                    <div class="form-group div-outline">
                        <span>30/06/2020 </span>
                        <i class="pi pi-times "></i>
                    </div>
                    <div class="form-group  row mx-0">
                        <label class="col-sm-3 col-form-label">HORA:</label>
                        <div class="div-outline col-sm-9">
                            <span>13:00 h-13:15h</span>
                            <i class="pi pi-times "></i>
                        </div>

                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="nota" rows="5" placeholder="Nota al especialista"></textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 box-selected">
            <div class="row mx-0">
                <div class="col-12 col-md-6 ">
                    <div class="row ">

                        <div class="form-group col-12 col-md-6">
                            <label for="especialidades">Especialidad</label>
                            <p-dropdown [options]="especialidades" [(ngModel)]="especialidad"
                                (onChange)="ActivarAtributos('E')" [filter]="true" placeholder="Especialidad"
                                optionLabel="sNomEsp" styleClass="w-100"></p-dropdown>
                        </div>
                        <div *ngIf="SelecEspecialidad" class="form-group  col-12 col-md-6">
                            <label for="sucursales">Sucursales</label>
                            <p-dropdown [options]="sucursales" [(ngModel)]="sucursal" optionLabel="sNombre"
                                (onChange)="ActivarAtributos('S')" [filter]="true" placeholder="Sucursal"
                                 styleClass="w-100"></p-dropdown>
                        </div>
                        <div *ngIf="SelecSucursal" class="form-group col-12">
                            <label for="Medico">Medico</label>
                            <p-dropdown [options]="medico" [(ngModel)]="Doctor" (onChange)="ActivarAtributos('D')"
                                [filter]="true" placeholder="Medico" styleClass="w-100">
                                <ng-template let-item pTemplate="selectedItem">
                                    <div class="selectedMed">
                                        <img src="assets/images/user.png" class="user_select_icon" />
                                        <span style="vertical-align:middle">{{item}}</span>
                                    </div>
                                </ng-template>
                                <ng-template let-car pTemplate="item">
                                    <div class="ui-helper-clearfix d-flex align-items-center"
                                        style="position: relative;height:50px;padding-left: 60px;">
                                        <img src="assets/images/user.png" class="user_icon" />
                                        <div class="inf-User">
                                            <div class="nombre">{{car.sNombre}}</div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div *ngIf="SelecDoctor">
                            <span>Fecha Nacimiento</span>
                            <p-calendar (ngModelChange)="ActivarAtributos('F')" [(ngModel)]="fechaA" [showIcon]="true"
                                [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                        <div *ngIf="SelecFechaA" (change)="ActivarAtributos('H')">
                            <span>Horario</span>
                            <select [(ngModel)]="horario">
                                <option>12:00 - 12:30</option>
                                <option>12:30 - 1:00</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <div>
                                        <img src="assets/images/user.png" class="user_icon w-100" />
                                    </div>
                                </div>
                                <div class="col-9 user_selected">
                                    <h3>Juan Ardiles Fierro</h3>
                                    <h5>PSIQUIATRA </h5>
                                    <p>
                                        Psicólogo con formación en el área educacional, cuenta con más de 10 años de
                                        experiencia en el área infanto-juvenil, desarrollando tratamiento en temáticas
                                        como:
                                        <br>
                                        -Problemas emocionales y de comportamiento: Trastorno por angustia de
                                        separación, fobia escolar, evitación, aislamiento, timidez. <br>
                                        -Problemas escolares y de aprendizaje: Déficit de atención y concentración (con
                                        o sin hiperactividad), bajo rendimiento escolar, baja motivación, déficit de
                                        hábitos de estudio, problemas escolares en general.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p-gmap [options]="options" [style]="{'width':'100%','height':'150px'}"></p-gmap>
                        </div>
                        <div class="col-12 mt-2">
                            <p-calendar [(ngModel)]="calendarHorario" [locale]="es" [inline]="true"
                                styleClass="medi_calendar" panelStyleClass="medi_calendar--panel" dateFormat="dd/mm/yy"
                                [disabledDates]="invalidDates" [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="2020:2050">
                                <ng-template pTemplate="date" let-date>
                                    <div *ngIf="checkDateForWork(date);then workDate else normalDate"></div>
                                    <ng-template #workDate>
                                        <span [ngClass]="'workday'" style="display:block">{{date.day}}</span>
                                    </ng-template>
                                    <ng-template #normalDate>
                                        <span [ngClass]="'inherit'" style="display:block">{{date.day}}</span>
                                    </ng-template>

                                </ng-template>
                                <!-- <ng-template pTemplate="date" let-date>
                                    <span [ngClass]=" (date.day < 21 && date.day > 10) ? 'workday' : 'inherit'" style="display:block">{{date.day}}</span>
                                </ng-template> -->
                            </p-calendar>

                            <div class="InputGroup row mx-0 mt-2">
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_1" value="small" disabled />
                                    <label for="size_1" class="hour_label">10:00</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_2" value="small" disabled />
                                    <label for="size_2" class="hour_label">10:30</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_3" value="small" />
                                    <label for="size_3" class="hour_label">11:00</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_4" value="small" />
                                    <label for="size_4" class="hour_label">11:30</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_5" value="small" />
                                    <label for="size_5" class="hour_label">12:00</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_6" value="small" class="full" />
                                    <label for="size_6" class="hour_label">12:30</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_7" value="small" class="full" />
                                    <label for="size_7" class="hour_label">13:00</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_8" value="small" />
                                    <label for="size_8" class="hour_label">13:30</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_9" value="small" />
                                    <label for="size_9" class="hour_label">14:00</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_10" value="small" checked />
                                    <label for="size_10" class="hour_label">14:30</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_12" value="small" disabled />
                                    <label for="size_12" class="hour_label">15:00</label>
                                </div>
                                <div class="px-2">
                                    <input type="radio" name="size" id="size_13" value="small" class="full" />
                                    <label for="size_13" class="hour_label">15:30</label>
                                </div>
                            </div>
                            <div class="row mx-0  justify-content-end">
                                <div class="indicators">
                                    <div class="circle-indicator libre"></div>
                                    <span>Libre</span>
                                </div>
                                <div class="indicators">
                                    <div class="circle-indicator seleccionada"></div>
                                    <span>Seleccionada</span>
                                </div>
                                <div class="indicators">
                                    <div class="circle-indicator ocupada"></div>
                                    <span>Ocupada</span>
                                </div>
                            </div>
                            <div class="row mx-0 ">
                                <div class="col-12 px-0">
                                    <button class="btn-siguiente ml-auto">
                                        <i class="pi pi-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>