<div class="container-agenda">
    <div class="row  container">
        <div class="col-12 text-center">
            <img src="./assets/images/RMS_Logo-fondo claros.svg"  height="100" alt="" loading="lazy">
        </div>
        <div class="col-12 text-center">
            <h2 class="slogan">Salud de calidad a tu alcance </h2>
        </div>
        <button class="btn btn-primary" routerLink="/Cliente-Agenda" >
            Agenda CLiente
        </button>
        <button class="btn btn-primary" routerLink="/Especilidad" >
            Agregar especialidad
        </button>
        <button class="btn btn-primary" routerLink="/Agendar" >
            Agendar
        </button>
        <button class="btn btn-primary" routerLink="/Principal" >
            pagina principal
        </button>
        <button class="btn btn-primary" routerLink="/Resumen" >
            resumen de datos de cita
        </button>
        <button class="btn btn-primary" routerLink="/AdmCita" >
            administrar citas
        </button>
        <button class="btn btn-primary" routerLink="/Login" >
            pagina de logueo
        </button>
        <button class="btn btn-primary" routerLink="/Sucursal" >
            agregar Sucursal
        </button>
        <button class="btn btn-primary" routerLink="/Doctor" >
            Agegar Doctor
        </button>
        <button class="btn btn-primary" routerLink="/HorarioDoctor" >
            Horarios Doctor
        </button>
    </div>
    <button class="btn-siguiente ml-auto" routerLink="/Cliente-Agenda" >
        <i class="pi pi-arrow-right"></i>
    </button>
</div>
