@import "../../../../assets/scss/general.scss";
.container-agenda{
    display: flex;
    align-items: center;
    background-color: $green-light;
    height: calc(120%);
    width: 100%;
    overflow-y: auto;
    .container{
        background-color: $white;
        padding: 20px;
    }
}

@media (max-width: 575.98px) { 
    .container-agenda{
        align-items: flex-start;
    }
 }

@media (max-width: 767.98px) { 
    
 }

@media (max-width: 991.98px) { 
    
 }

@media (max-width: 1199.98px) {
    
 }