<div>
    <span>Especialidad</span>
    <select [(ngModel)]="especialidad" (change)="ActivarAtributos('E')">
        <option>Gastroenterologia</option>
        <option>Internista</option>
    </select>
</div>
<div *ngIf="SelecEspecialidad" (change)="ActivarAtributos('S')">
    <span>Sucursal</span>
    <select [(ngModel)]="sucursal">
        <option>Las Condes</option>
        <option>Providencia</option>
    </select>
</div>
<div *ngIf="SelecSucursal" (change)="ActivarAtributos('D')">
    <span>Doctor</span>
    <select [(ngModel)]="Doctor">
        <option>Chicho</option>
        <option>Cesar</option>
    </select>
</div>
<div *ngIf="SelecDoctor"> 
    <span>Fecha Nacimiento</span>
    <p-calendar (ngModelChange)="ActivarAtributos('F')" [(ngModel)]="fechaA" [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
</div>
<div *ngIf="SelecFechaA" (change)="ActivarAtributos('H')">
    <span>Horario</span>
    <select [(ngModel)]="horario">
        <option>12:00 - 12:30</option>
        <option>12:30 - 1:00</option>
    </select>
</div>